<html>
  <head>
    <title>DOES PARKING SUCK?</title>
    <link href='http://fonts.googleapis.com/css?family=Cabin+Condensed|Graduate' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Graduate' rel='stylesheet' type='text/css'>
    <link href='static/css/style.css' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <div class='error'>
      <h1>
        HEY YO THIS IS A PROBLEM<br>
        TRY GOING <a href="/">BACK</a>?
      </h1>
      <a href='http://imgur.com/frnXxyM'>
        <img src='static/img/supersaiyan.gif'/>
      </a>
    </div>
  </body>
</html>
